<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Напишите нам что-нибудь приятное</h4>

  <form action="">
    <div class="flex-l mhn1-l">
      <!-- Имя -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Имя</label>
        </fieldset>
      </div>
      <!-- Почта -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Почта</label>
        </fieldset>
      </div>
    </div>

    <!-- Сообщение -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Ваш текст" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Сообщение</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Подтвердить</button>
    </div>
  </form>
</div>
