<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Почтовая подписка</p>
			<p>Получайте о нас новости на почту, чтобы ничегошеньки не пропустить.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Вернуться</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Домой</a></li>
					<li><a href="/events" class="link">Афиша</a></li>					
					<li><a href="/music" class="link">Музыка</a></li>
					<li><a href="/ensemble" class="link">Ансамбль</a></li>
					<li><a href="/members" class="link">Солисты</a></li>
					<li><a href="/stories" class="link">Истории</a></li>
					<li><a href="/contact" class="link">Контакты</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Узнать побольше</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Последнии истории</a></li>
					<li><a href="/contact" class="link">По вопросам сотрудничества</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Социальные сети</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
